In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [13]:
dframe1 = DataFrame({'key':['X','Z','Y','Z','X','X'],'data_set1':np.arange(6)})

In [14]:
dframe1

   data_set1 key
0          0   X
1          1   Z
2          2   Y
3          3   Z
4          4   X
5          5   X

In [15]:
# now we are doing merging of DataFrames so we need second DataFrame
dframe2 = DataFrame({'key':['Q','Y','Z',],'data_set2':[1,2,3]})

In [16]:
dframe2

   data_set2 key
0          1   Q
1          2   Y
2          3   Z

In [17]:
# now we are using merge method:
pd.merge(dframe1,dframe2)

   data_set1 key  data_set2
0          1   Z          3
1          3   Z          3
2          2   Y          2

In [18]:
# so merge method has shown common occurances between two DataFrames we have

In [19]:
 pd.merge(dframe1,dframe2,on='key')

   data_set1 key  data_set2
0          1   Z          3
1          3   Z          3
2          2   Y          2

In [20]:
pd.merge(dframe1,dframe2,on='key',how='left')

   data_set1 key  data_set2
0          0   X        NaN
1          1   Z        3.0
2          2   Y        2.0
3          3   Z        3.0
4          4   X        NaN
5          5   X        NaN

In [21]:
pd.merge(dframe1,dframe2,on='key',how='right')

   data_set1 key  data_set2
0        1.0   Z          3
1        3.0   Z          3
2        2.0   Y          2
3        NaN   Q          1

In [22]:
# so now from left and right results we can see it merges data w.r.t required results.

In [23]:
pd.merge(dframe1,dframe2,on='key',how='outer')

   data_set1 key  data_set2
0        0.0   X        NaN
1        4.0   X        NaN
2        5.0   X        NaN
3        1.0   Z        3.0
4        3.0   Z        3.0
5        2.0   Y        2.0
6        NaN   Q        1.0

In [25]:
dframe3 = DataFrame({'key':['X','X','X','Y','Z','Z'],'Data_Set_3':range(6)})

In [26]:
dframe4 = DataFrame({'key':['Y','Y','X','X','Z'],'Data_Set_4':range(5)})

In [28]:
dframe3
dframe4

   Data_Set_4 key
0           0   Y
1           1   Y
2           2   X
3           3   X
4           4   Z

In [29]:
pd.merge(dframe3,dframe4)

   Data_Set_3 key  Data_Set_4
0           0   X           2
1           0   X           3
2           1   X           2
3           1   X           3
4           2   X           2
5           2   X           3
6           3   Y           0
7           3   Y           1
8           4   Z           4
9           5   Z           4

In [30]:
# most of the time merge method can be used to find out null or equal values between two datasets

In [33]:
%gui

In [34]:
dir(gui)

NameError: name 'gui' is not defined