In [1]:
import numpy as np
import pandas as pd

In [4]:
# ok we have installed Pandas, there are two main and most important things one should need
# to learn or think about Pandas and that is Series and Dataframes
from pandas import Series,DataFrame

In [5]:
arr = np.array([[1,2,np.nan],[np.nan,3,4]])

array([[  1.,   2.,  nan],
       [ nan,   3.,   4.]])

In [8]:
dataframe1 = DataFrame(arr,index=['A','B'],columns = ['one','two','three'])

In [9]:
dataframe1

   one  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [10]:
dataframe1.sum()

one      1.0
two      5.0
three    4.0
dtype: float64

In [11]:
# we can also add rows
dataframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [12]:
dataframe1.min()

one      1.0
two      2.0
three    4.0
dtype: float64

In [15]:
dataframe1.idxmin()

one      A
two      A
three    B
dtype: object

In [16]:
dataframe1.idxmax()

one      A
two      B
three    B
dtype: object

In [17]:
dataframe1.cumsum()

   one  two  three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [18]:
dataframe1.describe()

       one       two  three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

In [20]:
import pandas.io.data as pdweb

In [21]:

print dir(pdweb)

['CUR_DAY', 'CUR_MONTH', 'CUR_YEAR', 'DataFrame', 'DataReader', 'DateOffset', 'DatetimeIndex', 'MonthEnd', 'Options', 'PandasError', 'Panel', 'RemoteDataError', 'Series', 'StringIO', 'SymbolWarning', 'ZipFile', '_FAMAFRENCH_URL', '_FRED_URL', '_HISTORICAL_GOOGLE_URL', '_HISTORICAL_YAHOO_URL', '_YAHOO_COMPONENTS_URL', '_YAHOO_QUOTE_URL', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '__warningregistry__', '_adjust_prices', '_calc_return_index', '_dl_mult_symbols', '_get_data_from', '_get_hist_google', '_get_hist_yahoo', '_in_chunks', '_network_error_classes', '_retry_read_url', '_sanitize_dates', '_source_functions', '_two_char', '_yahoo_codes', 'bytes_to_str', 'compat', 'concat', 'defaultdict', 'dt', 'get_components_yahoo', 'get_data_famafrench', 'get_data_fred', 'get_data_google', 'get_data_yahoo', 'get_quote_google', 'get_quote_yahoo', 'is_list_like', 'lmap', 'np', 'range', 'read_csv', 'read_html', 'tempfile', 'time', 'to_datetime', 'urlencode', 'urlopen', 'warnings', 'zip']