In [25]:
#most of the time in pandas we see Series as well as DataFrame
#let's talk about them a little
from pandas import Series,DataFrame

In [26]:
# Series can be considered one dimentional array with index, or we can also pass dictionary to Series as well
# most of the numoy boolean operations also work same with Series in Pandas
Series([2,3,4,5,6,7,8,9,34,456,34,45,45,345])

0       2
1       3
2       4
3       5
4       6
5       7
6       8
7       9
8      34
9     456
10     34
11     45
12     45
13    345
dtype: int64

In [27]:
m = {'a':2,'b':3,'c':4,'d':5,'e':6,'f':7,'g':8,'h':9,'i':34,'j':456,'k':34,'l':45,'m':45,'n':345}

In [10]:
dict_ = Series(m)

In [11]:
dict_

a      2
b      3
c      4
d      5
e      6
f      7
g      8
h      9
i     34
j    456
k     34
l     45
m     45
n    345
dtype: int64

In [12]:
dir(dict)

['__class__',
 '__cmp__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'has_key',
 'items',
 'iteritems',
 'iterkeys',
 'itervalues',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values',
 'viewitems',
 'viewkeys',
 'viewvalues']

In [14]:
dict_.view

<bound method Series.view of a      2
b      3
c      4
d      5
e      6
f      7
g      8
h      9
i     34
j    456
k     34
l     45
m     45
n    345
dtype: int64>

In [15]:
dict_.to_string

<bound method Series.to_string of a      2
b      3
c      4
d      5
e      6
f      7
g      8
h      9
i     34
j    456
k     34
l     45
m     45
n    345
dtype: int64>

In [16]:
'a' in dict_

True

In [17]:
dict_[dict_>2]

b      3
c      4
d      5
e      6
f      7
g      8
h      9
i     34
j    456
k     34
l     45
m     45
n    345
dtype: int64

In [18]:
dict_[dict_==345]

n    345
dtype: int64

A DataFrame represents a tabular, spreadsheet-like data structure containing an or-
dered collection of columns, each of which can be a different value type (numeric,
string, boolean, etc.). The DataFrame has both a row and column index; it can be
thought of as a dict of Series (one for all sharing the same index). Compared with other
such DataFrame-like structures you may have used before (like Râ€™s data.frame ), row-
oriented and column-oriented operations in DataFrame are treated roughly symmet-
rically. Under the hood, the data is stored as one or more two-dimensional blocks rather
than a list, dict, or some other collection of one-dimensional arrays.

In [19]:
# most of the time you can think DataFrames as Excel Spread sheets but you have more power and memory with you. :)

In [20]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [21]:
DataFrame(data)

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002